production:
  user: "guest"
  password: "guest"
  host: "127.0.0.1"
  running_timeout: 180
  check_timeouts_interval: 10
  monitoring_interval: 3
  mount_new_vulcains_interval: 60
  min_idle_vulcains: 1
  max_new_vulcains_at_start: 3
  ping_vulcain_interval: 30
  idle_vulcains_sample_interval: 10
  unmount_interval: 3600
  unmount_use_limit: 50 # %
  unmount_keep:  2
  vulcains:
    user: "guest"
    password: "guest"
    
development:
  user: "guest"
  password: "guest"
  host: "127.0.0.1"
  running_timeout: 180
  check_timeouts_interval: 10
  monitoring_interval: 3
  mount_new_vulcains_interval: 60
  min_idle_vulcains: 1
  max_new_vulcains_at_start: 3
  ping_vulcain_interval: 30
  idle_vulcains_sample_interval: 10
  unmount_interval: 3600
  unmount_use_limit: 50 # %
  unmount_keep:  2
  vulcains:
    user: "guest"
    password: "guest"

test:
  user: "guest"
  password: "guest"
  host: "127.0.0.1"
  running_timeout: 180
  check_timeouts_interval: 10
  monitoring_interval: 3
  mount_new_vulcains_interval: 60
  min_idle_vulcains: 1
  max_new_vulcains_at_start: 3
  ping_vulcain_interval: 30
  idle_vulcains_sample_interval: 10
  unmount_interval: 3600
  unmount_use_limit: 50 # %
  unmount_keep:  2
  vulcains:
    user: "guest"
    password: "guest"
