<% content_for :head do %>
	<%= javascript_include_tag "admin/monitors" %>
<% end %>
<table class="table table-striped table-bordered ">
	<thead>
		<th>Host</th>
		<th>PID</th>
		<th>UUID</th>
		<th>IDLE</th>
		<th>Ack ping</th>
		<th>Run Since</th>
		<th>Callback url</th>
		<th>Blocked</th>
	</thead>
	<tbody id="vulcains-states">
	</tbody>
</table>

<figure id="idleGraph"></figure>
