--- 
http_interactions: 
- request: 
    method: get
    uri: https://ws.ovh.com/sessionHandler/r1/rest.dispatcher/login?params=%7B%22password%22:%22vulca1n$%22,%22login%22:%22le52067-ovh%22%7D
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Node: 
      - soap9.ws
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      encoding: US-ASCII
      string: "{\"answer\":{\"__class\":\"sessionType:session\",\"language\":\"fr\",\"billingCountry\":\"FR\",\"id\":\"le52067-ovh-673ff59fb832dedfa4d320567fddca86\",\"startDate\":\"2013-04-05T10:41:24+02:00\",\"login\":\"le52067-ovh\"},\"version\":\"1.0\",\"error\":null,\"id\":0}"
  recorded_at: Fri, 05 Apr 2013 10:20:58 GMT
recorded_with: VCR 2.4.0
