--- 
http_interactions: 
- request: 
    method: get
    uri: https://ws.ovh.com/sessionHandler/r1/rest.dispatcher/login?params=%7B%22password%22:%22passwd%22,%22login%22:%22wrong_user%22%7D
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Node: 
      - soap3.ws
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      encoding: US-ASCII
      string: "{\"answer\":null,\"version\":\"1.0\",\"error\":{\"__class\":\"result:error\",\"value\":null,\"status\":\"310\",\"exceptionType\":\"LoginFailed\",\"message\":\"Wrong user id or password: Can't Login\"},\"id\":0}"
  recorded_at: Fri, 05 Apr 2013 10:20:57 GMT
recorded_with: VCR 2.4.0
