--- 
http_interactions: 
- request: 
    method: get
    uri: https://ws.ovh.com/cloud/public/instance/r3/rest.dispatcher/getInstances?params=%7B%22projectName%22:%22Vulcain%22%7D&session=le52067-ovh-673ff59fb832dedfa4d320567fddca86
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Node: 
      - soap1.ws
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      encoding: US-ASCII
      string: "{\"answer\":[{\"__class\":\"cloudInstanceType:instanceStruct\",\"ipv6\":\"2001:41D0:0070:0229:0000:0000:0000:0000\",\"netmaskv6\":\"64\",\"netmaskv4\":\"24\",\"ipv4\":\"178.32.210.215\",\"status\":\"running\",\"name\":\"vulcaina\",\"distributionName\":\"vulcain 0.3\",\"zoneName\":\"rbx1\",\"fqdn\":\"vulcaina.44935.project.ovh.net\",\"offerName\":\"xs\",\"id\":214554},{\"__class\":\"cloudInstanceType:instanceStruct\",\"ipv6\":\"2001:41D0:0070:01D5:0000:0000:0000:0000\",\"netmaskv6\":\"64\",\"netmaskv4\":\"24\",\"ipv4\":\"178.32.209.43\",\"status\":\"running\",\"name\":\"vulcainb\",\"distributionName\":\"vulcain 0.3\",\"zoneName\":\"rbx1\",\"fqdn\":\"vulcainb.44935.project.ovh.net\",\"offerName\":\"xs\",\"id\":214495},{\"__class\":\"cloudInstanceType:instanceStruct\",\"ipv6\":\"\",\"netmaskv6\":\"\",\"netmaskv4\":\"\",\"ipv4\":\"\",\"status\":\"pending\",\"name\":\"vulcain1\",\"distributionName\":\"vulcain 0.1\",\"zoneName\":\"rbx1\",\"fqdn\":\"vulcain1.44935.project.ovh.net\",\"offerName\":\"xs\",\"id\":214452}],\"version\":\"1.0\",\"error\":null,\"id\":0}"
  recorded_at: Fri, 05 Apr 2013 10:20:46 GMT
- request: 
    method: get
    uri: https://ws.ovh.com/cloud/public/instance/r3/rest.dispatcher/getTasks?params=%7B%22projectName%22:%22Vulcain%22,%22objectTypeName%22:%22instance%22%7D&session=le52067-ovh-673ff59fb832dedfa4d320567fddca86
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Node: 
      - soap10.ws
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      encoding: US-ASCII
      string: "{\"answer\":[{\"__class\":\"cloudInstanceType:taskStruct\",\"function\":\"deleteInstance\",\"zone\":{\"__class\":\"cloudInstanceType:zoneStruct\",\"comment\":null,\"name\":\"rbx1\"},\"progress\":\"\",\"finishDate\":\"2013-04-05T11:25:39+02:00\",\"status\":\"done\",\"objectId\":214351,\"comment\":\"\",\"lastUpdate\":\"2013-04-05T11:25:39+02:00\",\"objectType\":\"instance\",\"todoDate\":\"2013-04-05T11:24:39+02:00\",\"id\":188453},{\"__class\":\"cloudInstanceType:taskStruct\",\"function\":\"addInstanceFromImage\",\"zone\":{\"__class\":\"cloudInstanceType:zoneStruct\",\"comment\":null,\"name\":\"rbx1\"},\"progress\":\"\",\"finishDate\":\"2013-04-05T11:53:08+02:00\",\"status\":\"todo\",\"objectId\":214452,\"comment\":\"\",\"lastUpdate\":\"2013-04-05T11:53:08+02:00\",\"objectType\":\"instance\",\"todoDate\":\"2013-04-05T11:51:55+02:00\",\"id\":188560},{\"__class\":\"cloudInstanceT[...]
- request: 
    method: get
    uri: https://ws.ovh.com/cloud/public/instance/r3/rest.dispatcher/newInstanceFromImage?params=%7B%22name%22:%22test1%22,%22projectName%22:%22Vulcain%22,%22zoneName%22:%22rbx1%22,%22offerName%22:%22xs%22,%22imageName%22:%22vulcain%200.3%22%7D&session=le52067-ovh-673ff59fb832dedfa4d320567fddca86
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Node: 
      - soap4.ws
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      encoding: US-ASCII
      string: "{\"answer\":{\"__class\":\"ovhGenericType:commandStatus\",\"tasks\":[{\"__class\":\"ovhGenericType:taskStruct\",\"namespace\":\"pci.task\",\"id\":188679}],\"comment\":null,\"status\":\"pending\"},\"version\":\"1.0\",\"error\":null,\"id\":0}"
  recorded_at: Fri, 05 Apr 2013 10:20:48 GMT
[...]
- request: 
    method: get
    uri: https://ws.ovh.com/cloud/public/instance/r3/rest.dispatcher/newInstanceFromImage?params=%7B%22name%22:%22test1%22,%22projectName%22:%22Vulcain%22,%22zoneName%22:%22rbx1%22,%22offerName%22:%22xs%22,%22imageName%22:%22vulcain%200.3%22%7D&session=le52067-ovh-673ff59fb832dedfa4d320567fddca86
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Node: 
      - soap4.ws
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      encoding: US-ASCII
      string: "{\"answer\":null,\"version\":\"1.0\",\"error\":{\"__class\":\"result:error\",\"value\":null,\"status\":\"202\",\"exceptionType\":\"InvalidArgument\",\"message\":\"A VM with that name already exists.\"},\"id\":0}"
  recorded_at: Fri, 05 Apr 2013 10:20:50 GMT
- request: 
    method: get
    uri: https://ws.ovh.com/cloud/public/instance/r3/rest.dispatcher/deleteInstance?params=%7B%22instanceId%22:214554%7D&session=le52067-ovh-673ff59fb832dedfa4d320567fddca86
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Node: 
      - soap11.ws
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      encoding: US-ASCII
      string: "{\"answer\":{\"__class\":\"ovhGenericType:commandStatus\",\"tasks\":[{\"__class\":\"ovhGenericType:taskStruct\",\"namespace\":\"pci.task\",\"id\":188680}],\"comment\":null,\"status\":\"pending\"},\"version\":\"1.0\",\"error\":null,\"id\":0}"
  recorded_at: Fri, 05 Apr 2013 10:20:51 GMT
- request: 
    method: get
    uri: https://ws.ovh.com/cloud/public/instance/r3/rest.dispatcher/getInstance?params=%7B%22instanceId%22:214554%7D&session=le52067-ovh-673ff59fb832dedfa4d320567fddca86
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Node: 
      - soap2.ws
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      encoding: US-ASCII
      string: "{\"answer\":{\"__class\":\"cloudInstanceType:instanceStruct\",\"ipv6\":\"2001:41D0:0070:0229:0000:0000:0000:0000\",\"netmaskv6\":\"64\",\"netmaskv4\":\"24\",\"ipv4\":\"178.32.210.215\",\"status\":\"pending\",\"name\":\"vulcaina\",\"distributionName\":\"image-698\",\"zoneName\":\"rbx1\",\"fqdn\":\"vulcaina.44935.project.ovh.net\",\"offerName\":\"xs\",\"id\":214554},\"version\":\"1.0\",\"error\":null,\"id\":0}"
  recorded_at: Fri, 05 Apr 2013 10:20:51 GMT
[...]
