<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
		<%= javascript_include_tag  "jquery-2.0.0.min"%>
        <%= stylesheet_link_tag "admin/application" %>
    <%= yield :head %>
</head>

<body>
 <div class="container">

   <%= yield %>
 </div>
</body>
</html>
